// Paginação
// ==========================================================================
.paginator {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  
  li {
    display: inline-block;
    
    span, a {
      font-size: 0.8em;
      display: inline-block;
      padding: 6px 12px;
      background: #006699;
      margin: 0 5px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      text-decoration: none;
      color: #ffffff;
      font-weight: 600;
      text-shadow: 1px 1px #006699;
    }
    
    a:hover {
      background: #0e96e5;
    }
    
    span {
      background: #888888;
      text-shadow: 1px 1px #333333;
    }
  }
}

//
