// Tooltip
// ==========================================================================
.tooltip {
  display: inline-block;
  vertical-align: top;
  position: relative;
  
  &:hover &-balloon {
    display: inline;
  }
  
  &-balloon {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 0;
    font-weight: 500;
    margin-bottom: 30px;
    width: 200px;
    padding: 15px;
    background: #000000;
    opacity: 0.9;
    z-index: 99;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -8px;
      width: 0;
      height: 0;
      border-top: 8px solid #000000;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }
  }
}

//
