{% extends 'layout/app.twig' %}
{% block style %}{% endblock %}

{% block content %}
  <p style="text-align: center; margin-top: 50px; font-family: 'Segoe UI', sans-serif; font-size: 3em;">{{ config('client.name') }}!</p>
{% endblock %}

{% block script %}{% endblock %}
