{% extends 'layout/app.twig' %}

{% block content %}
  <main class="d-flex justify-content-center flex-column" style="height: 100vh;">
    <header class="text-center">
      <h1>{{ config('client.name') }}</h1>
      <p>Você é capaz e sempre de o melhor de sí em tudo oque fizer.</p>
    </header>
  </main>
{% endblock %}
