{% extends 'layout/app.twig' %}
{% set title = "Error 405 (Method not Allowed)" %}

{% block content %}
  <h1>Página não encontrada!!</h1>
  <p>({{ method }}) {{ methods }} {{ url }}</p>
{% endblock %}
