// Reset all
// ==========================================================================

*, *::after, *::before {
  margin: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  
  &:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
  }
  
  &:disabled {
    opacity: 0.85;
    cursor: not-allowed !important;
  }
  
  img {
    border: none;
    margin: 0;
  }
}

img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
  margin: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

strike {
  color: #a83535;
}

ins {
  background-color: #ffff00;
  color: #000000;
  text-decoration: none;
}

mark {
  background-color: #ffff00;
  color: #ffffff;
  font-style: italic;
}

pre {
  margin: 0 0 1rem;
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
  padding: 0.2em 0.4em;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}

kbd {
  padding: 0.2em 0.4em;
  font-size: 90%;
  color: #bd4147;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  box-shadow: inset 0 -.1em 0 rgba(0, 0, 0, .25);
  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    box-shadow: none;
  }
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  color: #373a3c;
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

del {
  text-decoration: line-through;
}

abbr[title], abbr[data-original-title], dfn[title] {
  border-bottom: 1px dotted #818a91;
  cursor: help;
}

address {
  font-style: normal;
  line-height: inherit;
}

hr {
  display: block;
  height: 1px;
  border: none;
  margin: unquote((10 / 16) + 'rem') 0;
  background: #cccccc;
}

small {
  font-size: 0.75em;
  color: #555555;
}

strong, b {
  font-weight: bold;
}

ol, ul, dl {
  list-style: none;
}

blockquote, q {
  quotes: none;
  &:before, &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  vertical-align: top;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
  margin: 0 0 10px;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0 5px;
    white-space: normal;
  }
  
  p {
    font-size: 12px;
  }
}

output {
  display: inline-block;
}

textarea {
  overflow: auto;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
select,
textarea {
  margin: 0;
  border: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

[disabled] {
  cursor: not-allowed !important;
  opacity: 0.85;
  box-shadow: none;
  pointer-events: none;
}

:disabled,
:-moz-handler-disabled,
:-moz-user-disabled {
  cursor: not-allowed !important;
  opacity: 0.85;
  box-shadow: none;
  pointer-events: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
