// Clearfix
@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Converter px para EM ou REM
@function convert_px($px, $rem: false, $base: 16) {
  @if not $rem {
    @return #{$px / $base + 'em'};
  } @else {
    @return #{$px / $base + 'rem'};
  }
}

//

//Buttons e trigger
@mixin default($color, $percent: false, $btn: false) {
  background-color: $color !important;
  
  @if ($btn) {
    color: #ffffff !important;
    
    &:hover, &:focus {
      background-color: darken($color, $percent) !important;
    }
  }
}

//

@mixin outline($color) {
  padding: 3px 12px;
  color: $color !important;
  border: 3px solid $color !important;
  background-color: transparent !important;
  
  &:hover, &:focus {
    color: #ffffff !important;
    background-color: $color !important;
  }
}

//

@mixin gradient($color) {
  background-image: linear-gradient(to bottom, $color 10%, darken($color, 15) 100%) !important;
  
  &:hover, &:focus {
    background-image: linear-gradient(to bottom, darken($color, 15) 10%, $color 100%) !important;
  }
}
