// Box Model
// ==========================================================================
$enable_flex: true;
$enable_display: false;
$enable_float: false;
$grid_columns: 12;
$gutter-width: 20px;

// Colors
// ==========================================================================
$siteColor: rgba(0, 77, 144, 1);
$siteLinear: linear-gradient(135deg, rgba(0, 77, 144, 1) 0%, rgba(36, 167, 136, 1) 100%);

$infoColor: #0e96e5;
$warningColor: #faad50;
$dangerColor: #f45563;
$successColor: #00b494;

// Colors Social
// ==========================================================================
$colorFacebook: #3b5998;
$colorInstagram: #517fa4;
$colorTwitter: #00aced;
$colorGoogle: #dd4b39;
$colorYoutube: #bb0000;
$colorSkype: #00aff0;
$colorWhatsapp: #34af23;
$colorLinkedin: #007bb6;
$colorDropbox: #007ee5;

// Box shadow
// ==========================================================================
.shadow-0 {
  box-shadow: none !important;
}

.shadow-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.shadow-1-1 {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.shadow-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.shadow-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.shadow-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.shadow-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
