{% extends 'layout/app.twig' %}
{% set title = 'Manutenção' %}

{% block content %}
  <p style="text-align: center; margin-top: 50px; font-family: 'Segoe UI', sans-serif; font-size: 3em;">Manutenção</p>
{% endblock %}
