{% extends 'layout/app.twig' %}
{% set titlePage = 'Titulo da página' %}

{% block style %}{% endblock %}

{% block content %}
  <h1>Tela de login</h1>
{% endblock %}

{% block script %}{% endblock %}
